PORT=3000
NODE_ENV=development

# Database Configuration (Sesuaikan dengan kredensial Postgres-mu)
DB_USERNAME=postgres
DB_PASSWORD=password_kamu
DB_NAME=nama_db_tugas_akhir
DB_HOST=127.0.0.1
DB_DIALECT=postgres

# Security
JWT_SECRET=rahasia_sangat_kuat_123
JWT_EXPIRES_IN=7d